<h1>Create a new itinerary!</h1>

<%= form_with model: @itinerary do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :start_time %>
  <%= f.text_field :start_time %>
  <%= f.label :end_time %>
  <%= f.text_field :end_time %>
  <%= f.submit %>
<% end %>
