<%= link_to "back to your dashboard", pages_dashboard_path(current_user) %>

<div class="container mt-5">
  <div class="justify-content-center">
    <div class="d-flex">
      <div class="container-event m-5 d-flex">
        <div class="event-results">
          <% @bookmarks.each do |bookmark| %>
            <div class="event-card">
              <% if bookmark.event.photo.present? %>
                <img src=<%= cl_image_path(bookmark.event.photo.key, alt: "event image") %> alt="Event Image">
              <% else %>
                <img src="path_to_default_image" alt="Default Event Image">
              <% end %>
                <div class="event-card-content">
                  <div class="event-card-title"><%= bookmark.event.name %></div>
                  <div class="event-card-date"><%= bookmark.event.start_time.strftime('%a %b %e') %> - <%= bookmark.event.end_time.strftime('%a %b %e') %></div>
                  <div class="event-card-description"><%= bookmark.event.description %></div>
                    <%= "Bookmark ID: #{bookmark.id}, Status: #{bookmark.status}" %>
                    <% if bookmark.status == "interested" %>
                      <%= link_to "I'm going!", bookmark_path(bookmark), class: "btn btn-primary", data: { turbo_method: :patch } %>
                    <% elsif bookmark.status == "attending" %>
                      <p>You are going to this event!</p>
                    <% elsif bookmark.status == "attended" %>
                      <p>You went to this event!</p>
                    <% end %>
                    <%= link_to "Delete bookmark", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
