<div>
  <%= link_to "Create an itinerary", new_itinerary_path, class: "btn btn-success dash-link mt-5 mb-3" %>
  <div class="col-12 col-lg-12 d-flex">
    <div class="itinerary-dash-card-container row mb-5">
      <% @itinerary.each do |itin| %>
        <% if itin.user_id == current_user.id %>
          <div class="dashboard-itinerary-card" style="background-image: url('<%= cl_image_path(itin.photo.key) if itin.photo.attached? %>'); background-size: cover; background-position: center;";>
          <div class="itinerary-card-top">
            <h2><%= link_to "#{itin.name.capitalize}", itinerary_path(itin) %></h2>
                <div class="itinerary-card-dropdown">
                  <button"><i class="fa-solid fa-ellipsis-vertical" style="color: #000000;"></i></button>
                  <div class="dropdown-links">
                    <%= link_to "Delete", itinerary_path(itin), class: "btn itinerary-card-btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                    <%= link_to "Edit", edit_itinerary_path(itin), class: "btn itinerary-card-btn" %>
                  </div>
                </div>
          </div>
            <h5><%= itin.start_time.strftime('%dth %b') %> - <%= itin.end_time.strftime('%dth %b') %> </h5>
            <p><%= itin.itinerary_events.count %> Events saved</p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
