<div class="container mt-5">
  <div class="justify-content-center">
    <div class="d-flex">

      <div class="container-event m-5 d-flex">
        <div class="event-results">
            <% @events.each do |event| %>
              <div class="event-card">
                  <% if event.photo.present? %>
                    <img src=<%= cl_image_path(event.photo.key, alt: "event image") %> alt="Event Image">
                  <% else %>
                    <img src="path_to_default_image" alt="Default Event Image">
                  <% end %>
                <div class="event-card-content">
                  <div class="event-card-title"><%= event.name %></div>
                  <div class="event-card-date"><%= event.start_time.strftime('%dth %b') %> - <%= event.end_time.strftime('%dth %b') %></div>
                  <div class="event-card-description"><%= event.description %></div>
                    <% if @itinerary.present? %>
                      <%= link_to "Add", itinerary_itinerary_events_path(@itinerary, event_id: event.id), class: "btn btn-primary event-show-more", data: { turbo_method: :post } %>
                    <% end %>
                <% unless current_user.bookmarks.exists?(event_id: event.id) %>
                  <%= link_to "Bookmark me", event_bookmarks_path(event), data: { turbo_method: :post, turbo_confirm: "Are you interested?" }, class: "btn btn-primary" %>
                <% end %>
                </div>
              </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>


<%# looks like footer is attached to bottom before page is generated, wich mean that if list is long it is not attached anymore%>
<%# it also hide the alert on bookmark creation %>
