<h2>Hey</h2>

<%
=begin%>
 <%= simple_form_for [@event] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :description %>
  <%= f.submit "Request Booking", class: "btn btn-primary" %>
<% end %>
<%
=end%>
