<h2>Create a New Event</h2>

<%= form_with model: @event do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :start_time %>
  <%= f.text_field :start_time %>
  <%= f.label :end_time %>
  <%= f.text_field :end_time %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :photo %>
  <%= f.file_field :photo %>
  <%= f.submit %>
<% end %>
