<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12">
      <div class="card-body" style="background-color: #000000; padding: 25px; margin: 15px; margin-bottom: 20px; color: #ffffff;">
        <div class="row">
          <div class="col-md-2">
            <% if current_user.photo.present? %>
                <%= cl_image_tag(current_user.photo.key, class: "img-fluid", alt: "User Photo") %>
              <% else %>
                <img src="https://res.cloudinary.com/di8qjnwgb/image/upload/v1700175725/defaultusericon_sm5u2k.jpg", class="img-fluid", alt="User Photo";>
              <% end %>
          </div>
          <div class="col-md-8">
            <h5 class="card-title"> <%= @current_user.username %></h5>
            <p class="card-text">Welcome back <%= @current_user.username %>! Here's what's happening.</p>
            <p class="card-text"><%= Date.today %></p>
          </div>
          <div class="col-md-2 d-flex flex-column align-items-end">
            <div class="p-2"><%= link_to "Create Event", new_event_path, class: "btn btn-success dash-link" %></div>
            <div class="p-2"><%= link_to "Create Itinerary", new_itinerary_path, class: "btn btn-success dash-link" %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="event-tab" data-bs-toggle="tab" data-bs-target="#event" type="button" role="tab" aria-controls="home" aria-selected="true">My events</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="itinerary-tab" data-bs-toggle="tab" data-bs-target="#itinerary" type="button" role="tab" aria-controls="itinerary" aria-selected="false">My itineraries</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="chatroom-tab" data-bs-toggle="tab" data-bs-target="#chatroom" type="button" role="tab" aria-controls="chatroom" aria-selected="false">chatroom</button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="event" role="tabpanel" aria-labelledby="event-tab">

          <%= link_to "Create an event", new_event_path, class: "btn btn-success dash-link" %>

          <div class="container-fluid mt-5 mb-5">
            <div class="row">
              <% @bookmarks.each do |bookmark, index| %>
                <div class="col-3 mt-3">
                  <div class="card">
                    <% if bookmark.event.photo.present? %>
                      <img src=<%= cl_image_path(bookmark.event.photo.key, alt: "event image") %> alt="Event Image">
                    <% else %>
                      <img src="path_to_default_image" alt="Default Event Image">
                    <% end %>
                    <div class="card-content">
                      <div class="card-title"><%= bookmark.event.name %></div>
                      <div class="card-date"><%= bookmark.event.start_time.strftime('%dth %b') %> - <%= bookmark.event.end_time.strftime('%dth %b') %></div>
                      <div class="card-description"><%= bookmark.event.description %></div>
                    <div class="card-actions">

                      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addToItinerary-<%= bookmark.event.id %>">Add to an itinerary</button>

                      <div class="modal fade" id="addToItinerary-<%= bookmark.event.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addToItineraryLabel" aria-hidden="true" data-controller="add-to-itinerary">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h2>Select which itinerary</h2>
                            </div>
                            <div class="modal-body select-which-itinerary">
                              <form id="addToItineraryForm">
                                <input type="hidden" id="event_id" value="<%= bookmark.event.id %>" data-add-to-itinerary-target="eventIdId">
                                <select data-add-to-itinerary-target="itinerarySelect" class="form-select" required data-action="change->add-to-itinerary#itineraryChange">
                                  <option value="" disabled selected>Select an itinerary</option>
                                  <% current_user.itineraries.each do | itinerary | %>
                                    <option value="<%= itinerary.id %>"><%= itinerary.name %></option>
                                  <% end %>
                                </select>
                                <div class="modal-footer">
                                  <button type="reset" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                  <button type="reset" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addToItinerary-<%= bookmark.event.id %>" id="addToItineraryButton-<%= bookmark.event.id %>">Add to this itinerary</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>

                      <% if bookmark.event.ticket_purchase.present? %>
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#purchase-<%= index %>">Purchase</button>


                        <div class="modal fade" id="purchase-<%= index %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="purchase" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h2>Where would you like to purchase?</h2>
                              </div>
                                <div class="modal-body purchase">
                                  <div class="d-flex flex-column align-items-center">
                                    <% ticket_purchase_json = JSON.parse(bookmark.event.ticket_purchase) %>
                                    <% ticket_purchase_json.each do |info| %>
                                      <div class="p-2">
                                        <a class="btn btn-dark" href="<%= info["link"] %>" target="_blank"><%= info["source"] %></a>
                                      </div>
                                    <% end %>
                                  </div>
                                </div>
                              <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>

                        <% if bookmark.status == "interested" %>
                          <%= link_to "I'm going!", bookmark_path(bookmark), class: "btn btn-primary", data: { turbo_method: :patch } %>
                        <% elsif bookmark.status == "attending" %>
                          <p>You are going to this event!</p>
                        <% elsif bookmark.status == "attended" %>
                          <p>You went to this event!</p>
                        <% end %>
                        <%= link_to "Delete bookmark", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="itinerary" role="tabpanel" aria-labelledby="itinerary-tab">
          <%= link_to "Create an itinerary", new_itinerary_path, class: "btn btn-success dash-link" %>
            <div class="col-12 col-lg-12 d-flex">
              <% @itinerary.each do |itin| %>
                <% if itin.user_id == current_user.id %>
                <div class="dashboard-itinerary-card">
                  <h2><%= link_to "#{itin.name}", itinerary_path(itin) %></h2>
                  <p>Starts: <%= itin.start_time %></p>
                  <p>Ends: <%= itin.end_time %></p>
                  <%= link_to "Delete", itinerary_path(itin), class: "btn btn-warning", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                  <%# change to dashboard path later %>
                  <%= link_to "Edit", edit_itinerary_path(itin), class: "btn btn-warning" %>
                </div>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>


<div class="tab-pane fade" id="chatroom" role="tabpanel" aria-labelledby="chatroom-tab">
  <div>
    <% @bookmarks.each do |bookmark| %>
      <div>
        <% if bookmark.event.chatroom.present? %>
          <%= link_to "Join the #{bookmark.event.name} channel", chatroom_path(bookmark.event.chatroom.id), class: "btn btn-success" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="mt-5">
    <p>These are just links so we can access all our current pages</p>
    <ul>
      <li><%= link_to "View all events", events_path, class: "dash-link" %></li>
      <li><%= link_to "Create an itinerary", new_itinerary_path, class: "dash-link" %></li>
      <li><%= link_to "View Your Bookmarks", event_bookmarks_path(current_user), class: "dash-link" %></li>
    </ul>
  </div>
</div>
