<div class="dashboard-container container-fluid mt-5">
  <div class="row">
    <div class="col-12">
      <div class="card-body" style="background-color: #000000; padding: 25px; margin: 15px; margin-bottom: 20px; color: #ffffff;">
        <div class="row">
          <div class="col-md-2">
            <% if current_user.photo.present? %>
              <%= cl_image_tag(current_user.photo.key, class: "img-fluid", alt: "User Photo") %>
            <% else %>
              <img src="https://res.cloudinary.com/di8qjnwgb/image/upload/v1700175725/defaultusericon_sm5u2k.jpg", class="img-fluid", alt="User Photo";>
            <% end %>
          </div>
          <div class="col-md-8">
            <h5 class="card-title"> <%= @current_user.username %></h5>
            <p class="card-text">Welcome back <%= @current_user.username %>! Here's what's happening.</p>
            <p class="card-text"><%= Date.today.strftime('%a %b %e') %></p>
          </div>
          <div class="col-md-2 d-flex flex-column align-items-end">
            <div class="p-2"><%= link_to "Create Event", new_event_path, class: "btn btn-success dash-link" %></div>
            <div class="p-2"><%= link_to "Create Itinerary", new_itinerary_path, class: "btn btn-success dash-link" %></div>
              <% if @first_chatroom %>
              <div class="p-2"> <%= link_to "My chatrooms", chatroom_path(@first_chatroom), class: "btn btn-success dash-link" %>
              <% else %>
                <%= "You haven't joined any chatrooms yet!" %>
              <% end %>
              </div>
          </div>
        </div>
      </div>

      <div data-controller="tab">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <div class="d-flex justify-content-between">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="home" aria-selected="true">Overview</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="itinerary-tab" data-bs-toggle="tab" data-bs-target="#itinerary" type="button" role="tab" aria-controls="itinerary" aria-selected="false">My Itineraries</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="event-tab" data-bs-toggle="tab" data-bs-target="#event" type="button" role="tab" aria-controls="home" aria-selected="false">My Events</button>
            </li>
          </div>
        </ul>
      </div>

      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
          <%= render "shared/overview" %>
        </div>

        <div class="tab-pane fade" id="itinerary" role="tabpanel" aria-labelledby="itinerary-tab">
          <%= render "shared/itineraries" %>
        </div>

        <div class="tab-pane fade" id="event" role="tabpanel" aria-labelledby="event-tab">
          <%= render "shared/my_events" %>
        </div>

      </div>
    </div>
  </div>
</div>
