<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">

<div class="d-flex justify-content-center">
  <div class="search mt-5">
    <%= form_with(url: { action: "search_events" }, method: "get") do |form| %>
      <%= form.label :query, "What", class: "search-label" %>
      <%= form.text_field :query, placeholder: "" %>
      <%= form.label :date, "When", class: "search-label" %>
      <%= form.text_field :date, placeholder: "", data: { controller: "datepicker" } %>
      <%= form.label :location, "Where", class: "search-label" %>
      <%= form.text_field :location, placeholder: "" %>
      <%= form.submit "Search" %>
    <% end %>
  </div>
</div>

      <div class="d-flex justify-content-center mt-5">
        <p> Results for ...your search (show only when search is submitted) </p>
      </div>

      <div class="container-search m-5 d-flex">
        <div class="search-results">
          <% if @api_events.present? %>
            <% @api_events.each do |event| %>
              <div class="card">
                <img src=<%= event["thumbnail"] %> alt="Event Image">
                <div class="card-content">
                  <div class="card-title"><%= event["title"] %></div>
                  <div class="card-date"><%= event["date"]["start_date"] if event["date"] %></div>
                  <div class="card-description"><%= event["description"] %></div>
                  <a href="#" class="show-more">Save Event</a>
                </div>
              </div>
            <% end %>
          <% else %>
          <% end %>
        </div>
      </div>

  </div>
</div>
