<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">

      <div class="d-flex justify-content-center">
        <div class="search mt-5">
          <%= form_with(url: { action: "search_events" }, method: "get") do %>
            <%= text_field_tag(:query, nil, placeholder: "") %>
            <%= submit_tag("Search") %>
          <% end %>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="search-results">
          <% if @api_events.present? %>
            <h1>Events</h1>
            <ul>
              <% @api_events.each do |event| %>
                <li>
                  <strong><%= event["title"] %></strong><br>
                  <%= event["address"].join(", ") %><br>
                  <%= event["date"]["start_date"] if event["date"] %>
                </li>
              <% end %>
            </ul>
          <% else %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
